<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Thêm chủ đề</title>
</head>
<body>
<h3>Thêm chủ đề</h3>
<p>
    <a th:href="@{/admin/types}">
        Quay lại danh sách chủ đề
    </a>
</p>
<div id="form">
    <form th:action="@{/admin/types/create}" th:object="${type}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idType}"/>
        <div>
            <label for="name">Tên chủ đề</label>
            <input type="text" id="name" th:field="*{nameType}"/>
        </div>
        <input type="submit" value="Lưu"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>