<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout_admin :: head">
</head>


<body class="">
<div class="wrapper ">
    <div th:replace="type/list :: sidebar" data-color="white" data-active-color="danger">
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="type/list :: nav-bar">
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="card card-user all-color">
                        <div class="card-header">
                            <h5 class="card-title" style="text-align: center;">Thêm thể loại</h5>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/admin/types/create}" th:object="${type}" method="POST" novalidate="novalidate">
                                <input type="hidden" th:field="*{idType}"/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Thể loại</label>
                                            <input type="text" class="form-control" placeholder="Thể loại" th:field="*{nameType}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round">Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card demo-icons all-color">
                        <div class="card-header">
                            <div style="float: left;">
                                <h5 class="card-title">Danh sách thể loại</h5>
                                <a th:href="@{/admin/types}" style="font-size: 18px; color: rgb(81, 203, 206);">Trở lại</a>
                            </div>
                            <div style="margin-top:20px; margin-bottom: 10px; float: right;" class="all-color">
                                <form th:action="@{/admin/types/filter}" method="get">
                                    <input type="hidden" name="where" value="create">
                                    <!-- style="width: 57%; float: right; margin-right: 25px;" -->
                                    <div class="input-group no-border">
                                        <input style="font-size:1.57em; border-top-left-radius: 10px; border-bottom-left-radius: 10px; color: #FFFEFF;" type="text" value="" class="form-control" id="keyword" name="keyword" placeholder="Search..."  >
                                        <div class="input-group-append">
                                            <div style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;" class="input-group-text">
                                                <i class="fa-solid fa-magnifying-glass" style="font-size: 25px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="card-body all-icons">
                            <div id="icons-wrapper">
                                <section>
                                    <ul>
                                        <li th:each="t, tStatus : ${types}">
                                            <a>
                                                <p th:text="${t.getNameType()}"></p>
                                                <a th:href="@{/admin/types/update/__${t.getIdType()}__}" style="color:#FFFEFF;">Update</a>
                                            </a>
                                        </li>
                                        <!-- list of icons here with the proper class-->
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://www.creative-tim.com" target="_blank"></a></li>
                            <li><a href="https://www.creative-tim.com/blog" target="_blank"></a></li>
                            <li><a href="https://www.creative-tim.com/license" target="_blank"></a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/demo/demo.js"></script>

</body>



</html>