<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout_admin :: head">
</head>

<body class="">
<div class="wrapper ">
    <div th:fragment="sidebar" class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="/assets/img/icon-unkanpo.jpg">
                </div>
            </a>
            <a th:href="@{/admin}" class="simple-text logo-normal" style="color: #FFFEFF;">Unkanpo</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="./dashboard.html">
                        <i class="fa-solid fa-building-columns"></i>
                        <p>Thống kê doanh số</p>
                    </a>
                </li>
                <li class="active ">
                    <a th:href="@{/admin/types}">
                        <i class="fa-solid fa-table-list"></i>
                        <p>Thể loại game</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/games}">
                        <i class="fa-solid fa-gamepad"></i>
                        <p>Danh sách game</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/account}">
                        <i class="fa-solid fa-dice"></i>
                        <p>Tài khoản game</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/users}">
                        <i class="fa-solid fa-users"></i>
                        <p>Danh sách người dùng</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a th:href="@{/admin/types}" class="navbar-brand" href="javascript:;" style="color: #FFFEFF;">QUẢN
                        LÍ CHUNG</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">

            <div class="row">
                <div class="col-md-12 ">
                    <div class="card demo-icons all-color">
                        <div class="card-header">
                            <div style="float: left;">
                                <h5 class="card-title">Thể loại game</h5>
                                <p class="card-category">Thêm thể loại game?
                                     <a th:href="@{/admin/types/create}" style="color: rgb(81, 203, 206)">Tạo mới</a></p>
                            </div>
                            <div style="margin-top:20px; margin-bottom: 10px; float: right;">
                                <form th:action="@{/admin/types/filter}" method="get">
                                    <input type="hidden" name="where" value="list">
                                    <div class="input-group no-border">
                                        <input style="font-size:1.57em; border-top-left-radius: 10px; border-bottom-left-radius: 10px; color: white"
                                               type="text" value="" class="form-control" id="keyword" name="keyword"
                                               placeholder="Search...">
                                        <div class="input-group-append">
                                            <div style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                                                 class="input-group-text">
                                                <i class="fa-solid fa-magnifying-glass" style="font-size: 25px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="card-body all-icons">
                            <div id="icons-wrapper">
                                <section>
                                    <ul>
                                        <li th:each="t, tStatus : ${types}">
                                            <a>
                                                <p th:text="${t.getNameType()}"></p>
                                                <a th:href="@{/admin/types/update/__${t.getIdType()}__}"
                                                   style="color:#FFFEFF;">Update</a>
                                            </a>
                                        </li>
                                        <!-- list of icons here with the proper class-->
                                    </ul>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="credits ml-auto">
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/assets/demo/demo.js"></script>
    <script>
        function SelectText(element) {
            var doc = document,
                text = element,
                range, selection;
            if (doc.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = document.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }
    </script>
</body>

</html>