<!DOC html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Thêm trò chơi</title>
</head>
<body>
<h3>Thêm trò chơi</h3>
<p>
    <a th:href="@{/admin/games}">
        Quay lại danh sách trò chơi
    </a>
</p>
<div id="form">
    <form th:action="@{/admin/games/update}" th:object="${gameForm}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{game.idGame}"/>
        <div>
            <label for="name">Tên trò chơi</label>
            <input type="text" id="name" th:field="*{game.nameGame}"/>
        </div>
        <div>
            <label for="name">Mô tả</label>
            <input type="text" id="description" th:field="*{game.descriptionGame}"/>

        </div>
        <div>
            <label for="name">Thể loại: </label>
            <label th:each="type, index : ${listType}">
                    <input name="types" type="checkbox" th:checked="${gameForm.checkType(type.nameType)}" th:text="${type.nameType}" th:value="${type.idType}">

            </label>
        </div>

        <input type="submit" value="Lưu"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>