<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com-->
  <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="/assets/css/register.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.js" integrity="sha512-pmaEGtUAy7E5gRmwjLqQAD/QWw0dL4Z59b6b+2HQkqQwQ+HcPLLb9/KbUNo5zr10WuXmbivK9nYVZOyDkMgZMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
<body>
  <div class="wrapper">
    <h2>Login</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" id="username" placeholder="Enter your username" required>
      </div>
      <div class="input-box">
        <input type="password" id="password" placeholder="Enter your password" required>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login Now" onclick="login()">
      </div>
      <div class="text">
        <h3>Don't have an account yet? <a href="register.html" >Register now</a></h3>
      </div>
    </form>
  </div>

</body>

  <script>
    function loadHomePage() {
      axios.get("http://localhost:8080/api/v1/games").then((res)=> {
        console.log(res)
      })
    }
    function login() {
      axios.post("http://localhost:8080/api/v1/users/login",{
        "username": document.getElementById("username").value,
        "password": document.getElementById("password").value,
      }).then( ()=> {
        alert("Đăng nhập thành công");
        loadHomePage()
      })
    }
  </script>
</html>
