<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="/assets/css/register.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.js" integrity="sha512-pmaEGtUAy7E5gRmwjLqQAD/QWw0dL4Z59b6b+2HQkqQwQ+HcPLLb9/KbUNo5zr10WuXmbivK9nYVZOyDkMgZMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" id="username" placeholder="Enter your name" required >
      </div>
      <div class="input-box">
        <input type="text" id="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" id="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" id="confirmPassword" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now" onclick="register()">
      </div>
      <div class="text">
        <h3>Already have an account? <a th:href="@{/api/v1/users/formLogin}"  >Login now</a></h3>
      </div>
    </form>
  </div>

</body>
<script>
    function loginForm() {
      window.location.href = "http://localhost:8080/api/v1/users/formLogin"
    }
    function register() {
    axios.post("http://localhost:8080/api/v1/users/register",{
      "idUser": "",
      "username": document.getElementById("username").value,
      "email": document.getElementById("email").value,
      "password": document.getElementById("password").value,
      "confirmPassword": document.getElementById("confirmPassword").value,
      "role": "",
      "nickname": document.getElementById("username").value,
      "coin": 0,
      "id_user": ""
    }).then( ()=> {
      alert("Đăng kí thành công");
      loginForm()
    })
  }
</script>
</html>
