<!DOCgame html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Quản lí</title>
</head>
<body>
<h3>Thêm người dùng</h3>
<p>
    <a th:href="@{/admin/games}">
        Quay lại danh sách quản lí người dùng
    </a>
</p>
<div id="form">
    <form th:action="@{/admin/games/update}" th:object="${user}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idUser}"/>
        <div>
            <label for="name">Tên người dùng</label>
            <input type="text" id="name" th:field="*{username}"/>
        </div>
        <div>
            <label for="name">Password</label>
            <input type="text" id="password" th:field="*{password}"/>
        </div>
        <div>
            <label for="name">Nickname</label>
            <input type="text" id="nickname" th:field="*{nickname}"/>
        </div>
        <input type="submit" value="Lưu"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>