* {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.back-img {
    background-image: url("/image/background-sign-img.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.icon {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 900;
}

.error {
    color: red;
}