<!DOC html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout_admin :: head">
</head>

<body class="">
<div class="wrapper ">
    <div th:fragment="sidebar"  class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a href="https://www.creative-tim.com" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="/assets/img/icon-unkanpo.jpg">
                </div>
            </a>
            <a th:href="@{/admin}" class="simple-text logo-normal" style="color: #FFFEFF;">Unkanpo</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="./dashboard.html">
                        <i class="fa-solid fa-building-columns"></i>
                        <p>Thống kê doanh số</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/types}">
                        <i class="fa-solid fa-table-list"></i>
                        <p>Thể loại game</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/games}">
                        <i class="fa-solid fa-gamepad"></i>
                        <p>Danh sách game</p>
                    </a>
                </li>
                <li class="active ">
                    <a th:href="@{/admin/account}">
                        <i class="fa-solid fa-dice"></i>
                        <p>Tài khoản game</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/users}">
                        <i class="fa-solid fa-users"></i>
                        <p>Danh sách người dùng</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:fragment="nav-bar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" th:href="@{/admin/account}" style="color: #FFFEFF;">QUẢN LÍ CHUNG</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="card all-color">
                        <div class="card-header ">
                            <h4 class="card-title"> Danh sách tài khoản game</h4>
                            <p class="card-category"> Các tài khoản game được quản lí tại đây.
                                <a th:href="@{/admin/account/create}" style="color: #51cbce;">
                                    Thêm tài khoản game
                                </a>
                            </p>
                        </div>
                        <div class="card-body ">
                                <table class="table all-center">
                                    <thead class="text-primary ">
                                    <th>Số thứ tự</th>
                                    <th>Tài khoản game</th>
                                    <th>Thông tin tài khoản</th>
                                    <th>Ghi chú</th>
                                    <th>Giá thuê</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="account, ac : ${accounts}">
                                        <td th:text="${ac.count}"></td>
                                        <td th:text="${account.game.nameGame}"></td>
                                        <td th:text="${account.hideInfo}"></td>
                                        <td th:text="${account.note}"></td>
                                        <td th:text="${account.price}"></td>
                                        <td th:text="${account.online}"></td>
                                        <td style="text-align: center">

                                            <nav class="primary-navigation">
                                                <ul style="padding-left: 0px;">
                                                    <li>
                                                        <a class="a-dtrif">&dtrif;</a>
                                                        <ul class="dropdown">
                                                            <li>
                                                                <a th:href="@{/admin/account/update/__${account.idAccount}__}">
                                                                    <i class="fa-solid fa-pencil"></i> Sửa</a>
                                                            </li>
                                                            <li>
                                                                <a th:href="@{/admin/account/delete/__${account.idAccount}__}"
                                                                    onclick="return confirmDelete()">
                                                                    <i class="fa-solid fa-trash-can"></i> Xoá</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/layout_admin :: footer">
        </footer>
    </div>
</div>
<div th:replace="/layout_admin :: script"></div>
</body>
<script th:fragment="confirmDelete">
    function confirmDelete() {
        let result = confirm("Bạn muốn xoá tài khoản?");
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
</html>